.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  border-radius: 8px;
  background: white;
  border: solid 1px #3B3C3E;
  color: #282828;
  height: 34px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0px 14px 1px 14px;
  transition: 300ms;
  font-size: 14px;
}

.storybook-button--primary:hover {
  background: #F1F1F1;
  transition: 300ms;
}

.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
  height: 34px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
